<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Productos</title>
</head>
<body>
  <h1>Productos</h1>
  {{#each products}}
    <div>
      <h3>{{name}}</h3>
      <p>Precio: {{price}}</p>
    </div>
  {{/each}}
</body>
</html>
